.terminate{
    text-align: center;
    background-color: rgb(183, 116, 28);
}
table{
    margin:auto;
}
input{
    font-size: 30px;
}
.system{
    padding: 10px;
    border-radius: 4em;
    height:300px;
    width: 200px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 2px;
    width: 25%;
    height:45%;
}
#btn {
    background-color: #19a5e1;

}